.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin: 0;
  line-height: 1.45;
  font-size: 3rem;
  text-align: center;
  width: 80%;
  background: -webkit-linear-gradient(#a3a3a3, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
}

.subtitle,
.noteTitle {
  color: rgba(255, 255, 255, 0.75);
}

.description {
  margin: 0.5rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: left;
  color: #fff;
}

.noteTitle {
  text-align: left !important;
  font-family: UnicornCalligraphy, cursive;
  width: 75%;
}

.leftTitle {
  width: 75%;
  text-align: left;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0.5rem;
}

.lisaNote {
  margin: 0.5rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: left;
  color: #fff;
  font-family: cursive;
}

.noteContainer {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 10px;
  width: 75%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.hr {
  margin: 2rem auto;
  width: 40%;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
