.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  margin-top: 0;
  font-family: AvenirHand;
  font-size: 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin: 0;
  line-height: 1.45;
  font-size: 3rem;
  text-align: center;
  background: -webkit-linear-gradient(#a3a3a3, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  font-family: Adelle;
}

.subtitle,
.noteTitle {
  color: rgba(255, 255, 255, 0.75);
  width: 80%;
  text-align: center;
}

.description {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.lisaNote {
  padding: 0.5rem;
}

.description,
.lisaNote {
  margin: 0.5rem 0;
  line-height: 1.5;
  font-size: 1.8rem;
  text-align: left;
  color: #fff;
  font-family: AvenirHand, cursive;
  font-weight: bold;
}

.noteTitle {
  text-align: left;
  font-family: UnicornCalligraphy, cursive;
  width: 75%;
}

.leftTitle {
  width: 75%;
  text-align: left;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0.5rem;
  font-family: Adelle;
}

.noteContainer {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 10px;
  width: 75%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo {
  margin-top: 2rem;
}

.footerLogo {
}

.logo,
.footerLogo {
  width: 18rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  max-width: 40%;
  margin-bottom: 2rem;
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1150px) {
  .banner {
    max-width: 60%;
  }
}

@media screen and (max-width: 820px) {
  .banner {
    max-width: 75%;
  }

  .noteContainer {
    width: 95%;
  }

  .hr {
    width: 80% !important;
  }
}

@media screen and (max-width: 580px) {
  .banner {
    max-width: 95%;
  }

  .noteContainer {
    background-color: initial;
    width: 100%;
  }
}

.hr {
  margin: 2rem auto;
  width: 40%;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
