.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  margin-top: 0;
  font-family: AvenirHand;
  font-size: 2rem;
  font-weight: bold;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin: 0;
  line-height: 1.45;
  font-size: 3rem;
  text-align: center;
  background: -webkit-linear-gradient(#a3a3a3, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  font-family: Adelle;
}

.subtitle,
.noteTitle {
  color: rgba(255, 255, 255, 0.75);
  width: 80%;
  text-align: center;
}

.description {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.lisaNote {
  padding: 0.5rem;
}

.description,
.lisaNote {
  margin: 0.5rem 0;
  line-height: 1.5;
  font-size: 1.8rem;
  text-align: left;
  color: #fff;
  font-family: AvenirHand, cursive;
  font-weight: bold;
}

.noteTitle {
  text-align: left;
  font-family: UnicornCalligraphy, cursive;
  width: 75%;
  margin-top: 0.75rem;
}

.leftTitle {
  width: 75%;
  text-align: left;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0.5rem;
  font-family: Adelle;
  margin-top: 0;
}

.noteContainer {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 10px;
  width: 75%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo {
  margin-top: 2rem;
  width: 18rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footerLogo {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footerIcon {
  margin: 1rem;
}

.banner {
  max-width: 40%;
  margin-bottom: 2rem;
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.1);
}

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 93%;
  margin-bottom: 1rem;
}

.aboutImage {
  width: 10rem;
  border-radius: 10px;
  float: left;
  margin-right: 2rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 0.5rem;
  width: 40%;
}

.cardText {
  margin: 0.5rem 0;
  line-height: 1.5;
  font-size: 1.8rem;
  text-align: left;
  color: #fff;
  font-family: AvenirHand, cursive;
  font-weight: bold;
  padding: 0.5rem;
}

.aboutText:hover {
  color: rgba(255, 255, 255, 0.15);
}

.aboutText {
  padding-left: 0 !important;
}

.aboutTitle {
  width: 75%;
  text-align: left;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0.5rem;
  font-family: Adelle;
}

.percent {
  background: -webkit-linear-gradient(#a3a3a3, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  font-size: 2.4rem;
  margin-top: 3px;
  display: block;
  font-family: Adelle;
  margin-bottom: 0.2rem;
}

.roadmapText {
  font-family: AvenirHand;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0;
  margin-top: 0.8rem;
}

.roadmapTextContainer {
  flex-basis: 60%;
}

.roadmapContainer {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.roadmapImage {
  margin-top: 4rem;
  margin-left: 10rem;
}

.letterImage {
  margin-left: 10rem;
  width: 10%;
  margin-top: 1rem;
}

.letterContainer {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.letterTextContainer {
  flex-basis: 70%;
}

.vibesContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.vibesTextContainer {
  flex-basis: 65%;
}

.vibesImage {
  margin-right: 3rem;
}

.vibesImage img {
  width: 350px;
}

@media screen and (max-width: 2270px) {
  .roadmapTextContainer {
    flex-basis: 60%;
    padding-right: 20px;
  }

  .roadmapImage {
    margin-left: 0;
    padding-left: 60px;
    width: 30%;
  }
}

@media screen and (max-width: 2065px) {
  .letterImage {
    margin-left: 0;
    padding-left: 60px;
  }
}

@media screen and (max-width: 1850px) {
  .letterImage {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 1650px) {
  .roadmapImage img,
  .letterImage img {
    width: 450px;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 1570px) {
  .letterImage img {
    width: 375px;
    margin-top: 7rem;
  }
}

@media screen and (max-width: 1300px) {
  .roadmapContainer,
  .letterContainer {
    display: initial;
    width: 100%;
  }

  .roadmapText {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .roadmapImage {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: initial;
    width: 100%;
    text-align: center;
  }

  .letterImage {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: initial;
    margin-top: 0;
  }

  .vibesImage img {
    width: 400px;
  }

  .roadmapImage img,
  .letterImage img {
    width: 600px;
  }
}

@media screen and (max-width: 1150px) {
  .banner {
    max-width: 60%;
  }

  .card {
    width: 45%;
  }

  .cardText {
    font-size: 1.2rem;
  }

  .aboutTitle,
  .roadmapText {
    width: 85%;
  }

  .vibesContainer {
    display: initial;
  }

  .vibesImage {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .vibesImage img {
    width: 500px;
    text-align: center;
    margin-bottom: 2rem;
    padding: initial;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 910px) {
  .letterImage img {
    width: 500px;
  }
}

@media screen and (max-width: 845px) {
  .card {
    width: 93%;
  }
  .cardText {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 820px) {
  .banner {
    max-width: 75%;
  }

  .aboutContainer {
    width: 100%;
    padding: 0;
    margin: 0px 0px !important;
  }

  .noteContainer {
    width: 95%;
  }

  .hr {
    width: 80% !important;
  }

  .aboutTitle,
  .roadmapText,
  .card {
    width: 93%;
  }
}

@media screen and (max-width: 655px) {
  .roadmapImage img {
    width: 500px;
  }
  .letterImage img {
    width: 425px;
  }

  .vibesImage img {
    width: 375px;
  }
}

@media screen and (max-width: 580px) {
  .roadmapImage img,
  .letterImage img {
    width: 400px;
  }

  .banner {
    max-width: 95%;
  }

  .noteContainer {
    background-color: initial;
    width: 100%;
  }

  .roadmapText {
    padding: 1rem;
  }

  .aboutContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 475px) {
  .roadmapImage img,
  .letterImage img {
    width: 350px;
  }

  .card {
    width: 100%;
  }
  .cardText {
    font-size: 1.2rem;
  }

  .aboutImage {
    width: 6.5rem;
  }
}

@media screen and (max-width: 420px) {
  .roadmapImage img,
  .letterImage img,
  .vibesImage img {
    width: 250px;
  }
}

.leftTitle {
  width: 100%;
}

.hr {
  margin: 2rem auto;
  width: 40%;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.terms {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px 15px 15px 10px;
}

.termsLink {
  margin-bottom: 2rem;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80%;
  text-align: center;
  font-family: AvenirHand;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.termsLink a:hover {
  color: rgb(255, 255, 255, 0.65);
}

.slides {
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.1);
}
